@define-color activeColor   #5075a4;
@define-color inactiveColor #375071;
@define-color urgentColor   #FF0000;
@define-color color00       #1c150f;
@define-color color01       #2A56A5;
@define-color color02       #536FA1;
@define-color color03       #6E89B6;
@define-color color04       #2C59AA;
@define-color color05       #9DB1CF;
@define-color color06       #6493CE;
@define-color color07       #cdd2d9;
@define-color color08       #3c2d20;
@define-color color09       #296be4;
@define-color color10       #5c8be1;
@define-color color11       #7cadff;
@define-color color12       #2b6fea;
@define-color color13       #b4e1ff;
@define-color color14       #6ebcff;
@define-color color15       #f7fdff;

* {
	border-radius: 5px;
	font-family: Ubuntu Medium, FontAwesome5Brands, FontAwesome5Free, Arial, sans-serif;
	font-size: 13px;
	min-height: 0;
}

window#waybar {
	background-color: transparent;
}

window#waybar.empty #window {
	background-color: transparent;
}

#tray,
#workspaces,
widget label:not(#custom-space) {
	background-color: @inactiveColor;
	color: @color15;
	margin: 6px 0px 2px 0px;
	padding: 0px 10px 0px 10px;
}

#workspaces button,
#workspaces button label {
	background-color: @inactiveColor;
	color: @color15;
	margin: 0px 0px 0px 0px;
	padding: 0px 1px 0px 1px;
}

box.horizontal #tray widget window menu menuitem * {
	background-color: transparent;
}
