@define-color activeColor   #c04c1c;
@define-color inactiveColor #843413;
@define-color urgentColor   #FF0000;
@define-color color00       #1e1110;
@define-color color01       #AF4E26;
@define-color color02       #D38742;
@define-color color03       #EAAA56;
@define-color color04       #CA6930;
@define-color color05       #AE704F;
@define-color color06       #F8C76D;
@define-color color07       #f5e5c7;
@define-color color08       #3e2321;
@define-color color09       #f15f23;
@define-color color10       #ffae43;
@define-color color11       #ffdf5a;
@define-color color12       #ff842e;
@define-color color13       #f28c56;
@define-color color14       #ffff76;
@define-color color15       #ffffe4;

* {
	border-radius: 5px;
	font-family: Ubuntu Medium, FontAwesome5Brands, FontAwesome5Free, Arial, sans-serif;
	font-size: 13px;
	min-height: 0;
}

window#waybar {
	background-color: transparent;
}

window#waybar.empty #window label {
	background-color: transparent;
}

#tray,
#workspaces,
widget label:not(#custom-space) {
	background-color: @inactiveColor;
	color: @color15;
	margin: 6px 0px 2px 0px;
	padding: 0px 10px 0px 10px;
}

#workspaces button,
#workspaces button label {
	background-color: @inactiveColor;
	color: @color15;
	margin: 0px 0px 0px 0px;
	padding: 0px 1px 0px 1px;
}

box.horizontal #tray widget window menu menuitem * {
	background-color: transparent;
}
