@define-color activeColor   #01629b;
@define-color inactiveColor #01436a;
@define-color urgentColor   #FF0000;
@define-color color00       #080F37;
@define-color color01       #2F4775;
@define-color color02       #A24952;
@define-color color03       #E85D5A;
@define-color color04       #295890;
@define-color color05       #5A6E9E;
@define-color color06       #007CC3;
@define-color color07       #afbbcc;
@define-color color08       #7a828e;
@define-color color09       #2F4775;
@define-color color10       #A24952;
@define-color color11       #E85D5A;
@define-color color12       #295890;
@define-color color13       #5A6E9E;
@define-color color14       #007CC3;
@define-color color15       #afbbcc;

* {
	border-radius: 5px;
	font-family: Ubuntu Medium, FontAwesome5Brands, FontAwesome5Free, Arial, sans-serif;
	font-size: 13px;
	min-height: 0;
}

window#waybar {
	background-color: transparent;
}

window#waybar.empty #window {
	background-color: transparent;
}

#tray,
#workspaces,
widget label:not(#custom-space) {
	background-color: @inactiveColor;
	color: @color15;
	margin: 6px 0px 2px 0px;
	padding: 0px 10px 0px 10px;
}

#workspaces button,
#workspaces button label {
	background-color: @inactiveColor;
	color: @color15;
	margin: 0px 0px 0px 0px;
	padding: 0px 1px 0px 1px;
}

box.horizontal #tray widget window menu menuitem * {
	background-color: transparent;
}
