#inner-box,
#outer-box,
#input,
#text {
	margin: 5px;
	background-color: #12100c;
}

#window {
	border: 4px solid #5b9fcb;
	border-radius: 5px;
	color: #eefdff;
}

#input {
	border: none;
	border-bottom: 2px solid #5b9fcb;
}

#text {
	color: #eefdff;
	font-size: 16px;
}

#entry:selected,
#img:selected,
#text:selected {
	background-color: #3e6d8c;
}
