#inner-box,
#outer-box,
#input,
#text {
	margin: 5px;
	background-color: #11050f;
}

#window {
	border: 4px solid #93606c;
	border-radius: 5px;
	color: #ffede7;
}

#input {
	border: none;
	border-bottom: 2px solid #93606c;
}

#text {
	color: #ffede7;
	font-size: 16px;
}

#entry:selected,
#img:selected,
#text:selected {
	background-color: #65424a;
}
